body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
nav{
    z-index: 2;
    width: 100%;
    background-color: black;
    height: 50px;
    text-align: right;
     padding-top: 10px;
     position: fixed;
     font-family: Arial;
     border-bottom: 2px solid #00b7ff;
}

span > a{
    text-decoration: none;
    color: #00b7ff;
    font-size: 30px;
    margin: 0 20px ;
}
#intro-div{
    margin-top: 150px;
   width: 100%;
    position: absolute;
}
#home{
    background: #ADD8E6;
 background-size: 100% 100%;
    color: white;
    width: 100%;
    height: 700px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: red}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#about{
    background-color: yellow;
     width: 100%;
    height: 930px;
    padding: 70px 0 0 0;
}
#profile-svg{
    margin: 25px 0 0 8%;
    display: block;
    width: 90%;
}
polyline{
    stroke: #00b7ff;
    stroke-width: 2;
}
/*PROFILE PIC AND INFO -------------------*/
#profile-background{
    background-image: linear-gradient(360deg, #009ffd  0%, transparent 80%);
}
#myPhoto{
    height:168px;
    width: 108px;
    transform: translate(20px,0px);
}
#info-background{
    background-image: linear-gradient(360deg, #009ffd  0%, transparent 80%);
}
text{
    font-family: calibri;
    font-size:20px;
    fill: #34bfff;
    font-weight: bold;
}
#generalInfo{
    transform: translate(170px,115px);
}
#inputInfo{
    transform: translate(165px,145px);
}
#biography-content {
    height: 480px;
    width: 85%;
    margin: 0 0 0 8%;
    position: absolute;
    display: block;
}
#bio-title{  
    width: 50%;
    border: 3px solid #00b7ff;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    background-color: blue;
    margin: 0;
    font-family: 'Electrolize', sans-serif;
    color: #34bfff;
    background-image: linear-gradient(360deg, #009ffd  0%, transparent 50%);
}
#bio-para{
     word-spacing: 5px;
     line-height: 30px;
text-indent: 50px;
 padding: 10px;
    border: 3px solid #00b7ff;
    border-radius: 0px 10px 0px 0px;
    font-size: 20px;
     font-family: Arial;
    color: #34bfff;
    background-color: black;
    position: absolute;
    width: 100%;
    margin:0 0 20px 0;
    font-weight: bold;
}

#work{
    background-color: #FDF5E6;
     width: 100%;
    height: 1000px;
    margin: 0;
    padding-top: 60px;
}
#title-work{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    color: #191970;
    margin: 0;
    padding-left: 5%;
}
#workImg{
    text-align: center;
    border: 4px solid #34bfff;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    height: 500px;
    margin: 0 10%;
}
#work-labelcode > span{
    border-radius: 20px;
    padding: 5px;
    border: 2px solid #34bfff;
    background-color: ghostwhite;
}
h4{
    font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
    color: #34bfff;
    margin: 15px;
}
#workImg > img{
    display: inline;
    width: 20%;
    margin: 10px 0;
    border: 2px solid #34bfff;
}
#workImg > p{
     font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: #34bfff;
    margin: 10px 10%;

}
#contact{
    background-color: #008080;
     width: 100%;
    height: 1000px;
    padding-top: 60px;
    text-align: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit],input[type=button]:hover {
  background-color: #45a049;
}

.container {
margin: 0 25%;
width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




#view-work a{
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 40px;
  text-decoration: none;
  transition: 1s;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
#view-work a:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
              0 0 30px var(--clr),
              0 0 60px var(--clr),
              0 0 100px var(--clr);
}
#view-work a:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 400%;
  background: var(--clr);
  transition: 1s;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.33s * var(--1));
}
#view-work a:hover:before{
  width: 120%;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
 #view-work a:after{
  content: '';
  position: absolute;
  inset: 4px;
  background: #0e1538;
}
#view-work a:hover:after{
  background: var(--clr);
}
#view-work a span{
  position: relative;
  z-index: 1;
  font-size: 2em;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.5s;
}
#view-work a:hover span{
  opacity: 1;
}