body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
nav{
    z-index: 2;
    width: 100%;
    background-color: #0e1538;
    height: 50px;
    text-align: right;
     padding-top: 10px;
     position: fixed;
     font-family: Arial;
     border-bottom: 2px solid #00b7ff;
}

span > a{
    text-decoration: none;
    color: #00b7ff;
    font-size: 30px;
    margin: 0 20px ;
}
#intro-div{
    margin-top: 150px;
   width: 100%;
    position: absolute;
}
#home{
    background: #ADD8E6;
 background-size: 100% 100%;
    color: white;
    width: 100%;
    height: 700px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


#about{
    background-color: yellow;
     width: 100%;
    height: 930px;
    padding: 70px 0 0 0;
}

#about2{
    background-color: yellow;
     width: 100%;
    height: 930px;
    padding: 70px 0 0 0;
}
#profile-svg{
    margin: 25px 0 0 8%;
    display: block;
    width: 90%;
}
polyline{
    stroke: #00b7ff;
    stroke-width: 2;
}
/*PROFILE PIC AND INFO -------------------*/
#profile-background{
    background-image: linear-gradient(360deg, #009ffd  0%, transparent 80%);
}
#myPhoto{
    height:168px;
    width: 108px;
    transform: translate(20px,0px);
}
#info-background{
    background-image: linear-gradient(360deg, #009ffd  0%, transparent 80%);
}
text{
    font-family: calibri;
    font-size:20px;
    fill: #34bfff;
    font-weight: bold;
}
#generalInfo{
    transform: translate(170px,115px);
}
#inputInfo{
    transform: translate(165px,145px);
}
#biography-content {
    height: 480px;
    width: 85%;
    margin: 0 0 0 8%;
    position: absolute;
    display: block;
}
#bio-title{  
    width: 50%;
    border: 3px solid #00b7ff;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    background-color: blue;
    margin: 0;
    font-family: 'Electrolize', sans-serif;
    color: #34bfff;
    background-image: linear-gradient(360deg, #009ffd  0%, transparent 50%);
}
#bio-para{
     word-spacing: 5px;
     line-height: 30px;
text-indent: 50px;
 padding: 10px;
    border: 3px solid #00b7ff;
    border-radius: 0px 10px 0px 0px;
    font-size: 20px;
     font-family: Arial;
    color: #34bfff;
    background-color: black;
    position: absolute;
    width: 100%;
    margin:0 0 20px 0;
    font-weight: bold;
}

#work{
    background-color: #FDF5E6;
     width: 100%;
    height: auto;
    margin: 0;
    padding: 60px 0 60px 0;
}
#title-work{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    color: #191970;
    margin: 0;
    padding-left: 5%;
}
#workImg{
    text-align: center;
    border: 4px solid #34bfff;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    height: auto;
    margin: 0 10%;
}
#work-labelcode > span{
    border-radius: 20px;
    padding: 5px;
    border: 2px solid #34bfff;
    background-color: ghostwhite;
}
h4{
    font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
    color: #34bfff;
    margin: 15px;
}
#workImg > img{
    display: inline;
    width: 20%;
    margin: 10px 0;
    border: 2px solid #34bfff;
}
#workImg > p{
     font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: #34bfff;
    margin: 10px 10%;

}
.fbthru{
    text-align: center;
    color: #00b7ff;
}
#contact{
    background-color: #008080;
     
    height: auto;
    padding-top: 60px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit],[type=button] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit],input[type=button]:hover {
  background-color: #45a049;
}

.container {
margin: 0 25%;
width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




#view-work a{
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 40px;
  text-decoration: none;
  transition: 1s;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}
#view-work a:hover{
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
              0 0 30px var(--clr),
              0 0 60px var(--clr),
              0 0 100px var(--clr);
}
#view-work a:before{
  content: '';
  position: absolute;
  width: 40px;
  height: 400%;
  background: var(--clr);
  transition: 1s;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.33s * var(--1));
}
#view-work a:hover:before{
  width: 120%;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
 #view-work a:after{
  content: '';
  position: absolute;
  inset: 4px;
  background: #0e1538;
}
#view-work a:hover:after{
  background: var(--clr);
}
#view-work a span{
  position: relative;
  z-index: 1;
  font-size: 2em;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.5s;
}
#view-work a:hover span{
  opacity: 1;
}

#home,#work {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



#about, #about2,#contact {
    background: linear-gradient(-45deg, #f09, #3033AE, #0ff, #23d5ab);
    background-size: 400% 400%;
    animation: gra 15s ease infinite;
}

@keyframes gra {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.btn{
  color: #fff;
  border: none;
  margin: 20px;
  padding: 20px 30px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: box-shadow;
}

.btn-primary{
  background: #50A7FF;
  box-shadow: 0 0 25px #50A7FF;
}

.btn-primary:hover{
  box-shadow: 0 0 5px #50A7FF,
              0 0 25px #50A7FF,
              0 0 50px #50A7FF,
              0 0 100px #50A7FF;
}

.btn-success{
  background: #03D29F;
  box-shadow: 0 0 25px #03D29F;
}

.btn-success:hover{
  box-shadow: 0 0 5px #03D29F,
              0 0 25px #03D29F,
              0 0 50px #03D29F,
              0 0 100px #03D29F;
}


.btn-warning{
  background: #F0DF51;
  box-shadow: 0 0 25px #F0DF51;
}

.btn-warning:hover{
  box-shadow: 0 0 5px #F0DF51,
              0 0 25px #F0DF51,
              0 0 50px #F0DF51,
              0 0 100px #F0DF51;
}

.container img{
    width: 30%;
}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
     font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}



.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}



.fb{
    border-radius: 100%;
    width: 8%;
  border: 2px solid #007bff;
  cursor: pointer;
}
.fb img {

}
#confb{
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
     #about{height: 190vh;}
     #about2{height: 130vh;}
     #bio-para{font-size: 2.5vw; word-spacing: 3px;}
}
@media only screen and (min-width: 506px) and (max-width: 767px){
     #about{height: 190vh;}
     #about2{height: 130vh;}
     #bio-para{font-size: 2.5vw; word-spacing: 3px;}
}
@media only screen and (min-width: 100px) and (max-width: 505px){
    nav{text-align: center; height: auto;}
    #bio-title{font-size: 7vw;}
    #bio-para{font-size: 4vw; word-spacing: 0;}
    .fb{width: 18%;}
    span > a{  margin: 0 0 10px; border: 2px solid #00b7ff; }
    #about{height: 250vh;}
     #about2{height: 145vh;}
}

